* {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    padding: 0;
    background-color: transparent;
   
}
a {

    text-decoration: none;
}
.header {
    background-color: rgb(255, 213, 136);
}
header.fixed{
    position: sticky;
    top: -28px;
}
.header .body{
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}
.nav {
    margin-left: auto;
}
.nav ul {
    display: flex;
}
.main-content {
   width: 1170px;
   max-width: calc(100% - 48px);
   margin-left: auto;
   margin-right: auto;
}
.nav a{
    position: relative;
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}
.nav li.active a,
.nav a:hover{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after{ 
   position: absolute;
   left: 21px;
   bottom: 6px;
   display: block;
   content: "";
   width: 12px;
   height: 2px;
   border-radius: 1px;
   background: #171100;
   
    
}
.btn{
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    background-color: #171100;
    color: #fff;
    text-align: center;
    font-weight: 600;
    border-radius: 24.5px;
    font-size: 1.6rem;
    transition: background-color 0.3s ease;
    line-height: 50px;
    /* border: 1px solid #171100; */
      border: 1px solid #171100;
} 
.btn:hover{
  
    background-color: #ffffff;
    color: #171100;
}
.header .btn-sign-up{
   min-width: 144px;
}
.header .action{
    margin-left: 49px;
}